/* css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/
/* body*/

html {
    height: 100%;
    /* overflow: auto; */
    /* background-color: #514F4F; */
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin: 0; 
    /* min-height: 100vh; */
    /* width: 100wh; */
    /* display: flex;
    flex-direction: column;
    background-color: #f1f1f1; */
    width: 100wh;
    height: 100vh;
    overflow: hidden;
}

.nav-bar {
    background-color: #383838;
    position: sticky; 
    /* height: 40px; */
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    color: white;
    width: 100%;
}

p{  
    font-weight: 600;
}

.nav-bar-content {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
}

.nav-left {
    padding: 10px 10px;
    margin: 10px 10px;
    /* display: flex; */
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

  /* Style the main content */
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}
  

ul {
    /* float: right; */
    list-style-type: none;
    /* width: 100%; */
}

.nav-right ul { 
    /* display: flex; */
    margin: 0;
    padding: 0;
    flex-direction:row;
    
}

a {
    display: block;
    padding: 3px;
}

a:visited { 
    text-decoration: none; 
    /* color: black; */
   }
   
#about-me, #work-experience, #education {
    scroll-behavior:smooth;
}


#top-left, #top-right {
    
    min-height: 100vh;

}



.side-bar {
    background-color: #514F4F;
    font-weight: bold;
    color: white;
    text-decoration: none;
    /* display: flex; */
    flex-direction: column;
    overflow: none;
    height: 100vh;
    /* display: block; */
}


.heading{
    text-decoration: none;
}

.top-heading, .top-heading-2 {
    padding: 20px 20px;
    margin: 20px 20px;
    text-align: center;
}

.top-heading-2 {
    margin: 0px 0px;
    padding: 0px 0px;
    
}

#top-right::-webkit-scrollbar {
    display: none;
}

.content-container{
    height: 100vh;
    /* background-color: #383838; */
}

.content-two, .content-three {
    background-color: #282424;
    padding: 20px 30px;
    margin: 50px 50px;
    border-spacing: 10px 5px;
    border-radius: 10px;
    color: white;
}


.content1, .content2, .edu1, .edu2{
    background-color: #383838;
    padding: 15px 40px;
    margin: 45px 15px;
     border-radius: 10px;
}
    
.edu1,.edu2{
    margin-bottom: 30px;
}


.heading {
    text-align: center;
 }

img{
    width: 300px;
    height: 300px;
    /* border-width: thick;
    overflow: hidden; */
}

.profile-img{
    text-align: center;
    /* margin-top: 50px;
    margin-bottom: 50px; */
}

.profile-img img{
    border-radius: 50% ;   
}

.social-icons{
    display: flex;
    /* justify-content: space-evenly; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 0px;

}

.social-icons img{
    width: 100px;
    height: 100px;
    /* border-width: thick; */  
    /* overflow: hidden; */
    display: block;
    text-align: center;
    border-radius: 20%;
}

.paragraph {
    text-align: left;
}

a {
    text-decoration: none;
    padding: 16px;
    /* color: white; */
}



@media screen and (max-width: 1080px) {
    .portfolio-container {
      /* background-color: lightgreen; */
      grid-template-columns: 1fr 1fr;
    }
}


#container{

    box-shadow: 0px 3px 8px #000;
    
}

#container:hover {
    transform: scale(1.1);
    border-radius: 10px;

    box-shadow: 0px 5px 20px #000;
    transition: all 200ms ease-in-out;
}



#icon:hover{
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
    /* box-shadow: 0px 5px 20px #000; */
    /* background-color: darkviolet;
    margin: 30px 30px; */
}

.profile-container{
    /* position: fixed; */
}

@media screen and (max-width: 1300px) {
    body {
      /* background-color: blue; */
      
      overflow: auto;
    }

    .side-bar{
        height: 50%;
    }
    
}

@media screen and (min-width: 1300px) {
    body {
      /* background-color: blue; */
      /* color: white; */
      overflow: hidden;
      
    }

    .nav-bar{
        position: sticky;
    }

    .portfolio-container{
        display: grid; grid-template-columns: 10% 45% 45%; 
    }
    
    /* style = 'display: grid; grid-template-columns: 10% 45% 45%;  */
}